

body {
    font-family: 'Merriweather', serif;  
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h2,
p {
    text-align: center;
    font-size: 3em;
}

p,
label,
button {
    color: #cbced1;
    font-size: 2.5em;
    font-weight: 5000;
}


form {
    display: flex;
    flex-direction: column; 
}

label {
    display: block;
}

input {
    display: inline;
}


legend {
   font-size: 2em; 
}


header{
    background-color: #2d3945;
    color:white;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.75em;
}

button {
    background-color: #4ebbb5;
    color: white;
}