html {
    color: #55687a;
    font-family: 'Merriweather', sans-serif;
}


main{
    margin: 1rem auto;
    width: 90%
}


header {
    background-color: #2d3945;
    color: white;
    text-align: center;
}

select, option, input, label, button {
    padding: 20px; 
    display: flex;   
    flex-direction: row;
    margin:0;
}

.uhead h2 {
    color: #2d3945;
    text-align: center;
}

.uhead p {
    color: #b1b5b9;
    text-align: center;
}

.botline {
    border-bottom: 10px solid #2d3945;
    margin-bottom: 5px
}
.topline {
    border-top: 5px solid #2d3945;
    margin-top: 5px;
}

fieldset {
    border: none;
    margin-top: 30px
}

legend {
    color:#2d3945;
    font-size: 1.5em;
    font-weight: bold;
}

input {
    background-color: #eff0f1;
    border: none;
    border-radius: 8px;
}